@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:root {
  --secundary-title:#FFFFFF;  
  --secundary-subtitle:#FFF4F4;
  --secundary-bg:#FFF4F4;
  --main-bg:#B91C1C; 
  --main-subtitle:#B91C1C; 
  --main-stroke:#BA0B0B; 
  --main-title:#BA0B0B;
  

}

.bg{
  background: linear-gradient(to right, #B91C1C 50%, #FFF4F4 50%); 
}


.inner{
  box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.drop{
  box-shadow:  2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}