@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:root {
  --secundary-title:#FFFFFF;  
  --secundary-subtitle:#f0f0f0;
  --secundary-bg:#FFF4F4;
  --main-bg:#B91C1C; 
  --main-subtitle:#B91C1C; 
  --main-stroke:#BA0B0B; 
  --main-title:#BA0B0B;
  

}

.bg{
  background: linear-gradient(to right, #B91C1C 50%, #FFF4F4 50%); 
}


.globalShadow{
  box-shadow: inset 2px 2px 5px 0px rgb(0, 0, 0,0.10), 2px 2px 5px 0px rgb(0, 0, 0,0.2);
}



.textShadow {
  text-shadow: 2px 2px 2px rgb(0, 0, 0,1);

}

.bg-card{

  background: linear-gradient(to bottom, #B91C1C 0%, #9D1E1E 100%);

}




@media (min-width: 1280px) {
  .animaInNavBarButtons {
    animation-name: animaInNavBarButtons;
    animation-duration: 200ms; 
    animation-timing-function: ease-in ; 
    
  }
  
  @keyframes animaInNavBarButtons {
    from {
      width: 160px;
    }
    to {
      width: 32px;
    }
  }
  .animaOutNavBarButtons {
    animation-name: animaOutNavBarButtons;
    animation-duration: 200ms; 
    animation-timing-function: ease-in ; 
  }
  
  @keyframes animaOutNavBarButtons {
    from {
      width: 32px;
    }
    to {
      width: 160px;
    }
  }
  



}


.active > li {
  opacity: 0;
  user-select: none;
  animation: animaActive 200ms ease-in-out forwards;
}

.active > li:nth-child(1) {
  
  animation-delay: 0ms;
}
.active > li:nth-child(2) {
  
  animation-delay: 50ms;
}
.active > li:nth-child(3) {
  
  animation-delay: 100ms;
}
.active > li:nth-child(4) {
  
  animation-delay: 150ms;
}
.active > li:nth-child(5) {
  
  animation-delay: 200ms;
}
.active > li:nth-child(6) {
  
  animation-delay: 250ms;
}
.active > li:nth-child(7) {
  
  animation-delay: 300ms;
}
.active > li:nth-child(8) {
  
  animation-delay: 350ms;
}
.active > li:nth-child(9) {
  
  animation-delay: 400ms;
}
.active > li:nth-child(10) {
  
  animation-delay: 450ms;
}
.active > li:nth-child(11) {
  
  animation-delay: 500ms;
}
.active > li:nth-child(12) {
  
  animation-delay: 550ms;
}

@keyframes animaActive {
  from {
    transform: translate(-100px);
  }
  to {
    transform: translate(0px);
    scale: 1;
    opacity: 1;    

  }
  
}